.carousel-item:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: rgba(39, 39, 39, 0.5);
}

#main-slide .carousel-item.active .carousel-caption {
	z-index: 11;
}
